$dark:#333643;
$yellow:#cdad61;
$dark-blue:#5983b3;
$light-blue:#70a4d3;
@font-face {
    font-family: LifeCraftFont;
    src: url(../LifeCraft_Font.ttf);
  }
header{
    .menu{
        h3{
            padding: 0 20px;
        }
    }
    .dropdown{
        display: none;
    }
    div{
        display: flex;
        align-items: center;
        h1{
            flex-grow: 2;
            // display: flex;
            // font-weight:100;
            // letter-spacing: 5px;

            // font-family:LifeCraftFont;
            font-family: 'Montserrat', sans-serif;

        }
        h3{
            flex-grow: 1;
            padding-top: "10px";
            margin:0;
            color: white;
            // font-weight:100;
            // letter-spacing: 2px;
            // font-family:LifeCraftFont;
        }
    }
}

@media screen and (max-width: 759px){
    header{
        div{
            h1{
                font-size: 1.6rem;
            }
            h3{
                font-size: 1.2rem;
            }
        }
        .menu{
            display: none;
        }
        .dropdown {
            position: relative;
            display: inline-block;
          }
    }
}
.dropbtn {
    background-color: $yellow;
    color: white;
    padding:12px 30px ;
    font-size: 20px;
    border: none;
    cursor: pointer;

  }


  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: $yellow}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {

    background-color:  #debe72;
    color:$dark;
  }









